*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 50px;
    background: hsla(141, 54%, 86%, 1);

    background: linear-gradient(90deg, hsla(141, 54%, 86%, 1) 0%, hsla(333, 73%, 85%, 1) 50%, hsla(211, 58%, 79%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(141, 54%, 86%, 1) 0%, hsla(333, 73%, 85%, 1) 50%, hsla(211, 58%, 79%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(141, 54%, 86%, 1) 0%, hsla(333, 73%, 85%, 1) 50%, hsla(211, 58%, 79%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#CAEFD7", endColorstr="#F5BFD7", GradientType=1 );
    
    
    >.wpr{
        width: 100%;
        height: 100%;
        position: absolute;
        >.box{
            >div{
                position: absolute;
                width: 60px;
                height: 60px;
                background-color: transparent;
                border: 5px solid rgba(255,255,255,0.8);
                &:nth-of-type(1){
                    top: 12%;
                    left: 42%;
                    animation: para 10s linear infinite;
                }
                &:nth-of-type(2){
                    top: 70%;
                    left: 50%;
                    animation: para 7s linear infinite;
                }
                &:nth-of-type(3){
                    top: 17%;
                    left: 6%;
                    animation: para 9s linear infinite;
                }
                &:nth-of-type(4){
                    top: 20%;
                    left: 60%;
                    animation: para 10s linear infinite;
                }
                &:nth-of-type(5){
                    top: 76%;
                    left: 10%;
                    animation: para 6s linear infinite;
                }
                &:nth-of-type(6){
                    top: 80%;
                    left: 70%;
                    animation: para 12s linear infinite;
                }
                &:nth-of-type(7){
                    top: 60%;
                    left: 80%;
                    animation: para 15s linear infinite;
                }
                &:nth-of-type(8){
                    top: 32%;
                    left: 25%;
                    animation: para 16s linear infinite;
                }
                &:nth-of-type(9){
                    top: 90%;
                    left: 25%;
                    animation: para 9s linear infinite;
                }
                &:nth-of-type(10){
                    top: 20%;
                    left: 80%;
                    animation: para 5s linear infinite;
                }
                &:nth-of-type(11){
                    top: 12%;
                    left: 62%;
                    animation: para 12s linear infinite;
                }
                &:nth-of-type(12){
                    top: 32%;
                    left: 2%;
                    animation: para 3s linear infinite;
                }
                &:nth-of-type(13){
                    top: 50%;
                    left: 82%;
                    animation: para 11s linear infinite;
                }
                &:nth-of-type(14){
                    top: 50%;
                    left: 50%;
                    animation: para 8s linear infinite;
                }
                &:nth-of-type(15){
                    top: 18%;
                    left: 50%;
                    animation: para 10s linear infinite;
                }
                &:nth-of-type(16){
                    top: 5%;
                    left: 10%;
                    animation: para 10s linear infinite;
                }
                &:nth-of-type(17){
                    top: 11%;
                    left: 20%;
                    animation: para 14s linear infinite;
                }
                &:nth-of-type(18){
                    top: 3%;
                    left: 45%;
                    animation: para 12s linear infinite;
                }
            }
        }
    }
    
    >.drag{
        width: 320px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 4px;
        cursor: grab;
        >.dragbox{
            width: 100px;
            height: 100px;
            background-color: #0003;
            position: relative;
        }
    }
    >.board{
        position: relative;
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        gap: 5px;
        >.dropbox{
            width: 140px;
            height: 140px;
            position: relative;
            background-color: #0003;
        }
    }
    >.reset{
        position: absolute;
        bottom: 50px;
        left: 35%;
        transform: translateX(-50%);
        padding: 20px 30px;
        border: none;
        background-color: white;
        color: rgba(128, 0, 128, 0.808);
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
        border-radius: 15px;
        text-transform: capitalize;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        transition: .4s;
        &:hover{
            background-color: rgba(221, 160, 221, 0.45);
            box-shadow: 0 0 35px 2px purple;
        }
    }
}
.images{
    width: 100%;
    height: 100%;
    position: relative;
    background-image: var(--img);
    background-size: cover;
}


@keyframes para {
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100%{
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}